<div class="accordion-green">
  <p-accordion [value]="['0']" [multiple]="true">
    <p-accordion-panel value="0">
      <p-accordion-header>Dutch Words</p-accordion-header>
      <p-accordion-content>
        <app-dutch-words></app-dutch-words>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>Dutch Verbs</p-accordion-header>
      <p-accordion-content>
        <app-dutch-verbs></app-dutch-verbs>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
