<div class="accordion-blue">
  <p-accordion [value]="['0']" [multiple]="true">
    <p-accordion-panel value="0">
      <p-accordion-header>Best Practices Java</p-accordion-header>
      <p-accordion-content>
        <app-best-practices-java></app-best-practices-java>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>Best Practices SpringBoot</p-accordion-header>
      <p-accordion-content>
        <app-best-practices-spring-boot></app-best-practices-spring-boot>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="2">
      <p-accordion-header>Best Practices Angular</p-accordion-header>
      <p-accordion-content>
        <app-best-practices-angular></app-best-practices-angular>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="3">
      <p-accordion-header>Best Practices CSS</p-accordion-header>
      <p-accordion-content>
        <app-best-practices-css></app-best-practices-css>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
