<div class="accordion-green">
  <p-accordion [value]="['0']" [multiple]="true">
    <p-accordion-panel value="0">
      <p-accordion-header>Spring Boot Application Layers</p-accordion-header>
      <p-accordion-content>
        <app-spring-boot-application-layers></app-spring-boot-application-layers>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>Spring Boot Application Other Layers</p-accordion-header>
      <p-accordion-content>
        <app-spring-boot-application-others></app-spring-boot-application-others>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="2">
      <p-accordion-header>Spring Boot Application Test</p-accordion-header>
      <p-accordion-content>
        <app-spring-boot-application-test></app-spring-boot-application-test>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="3">
      <p-accordion-header>Spring Boot Application Test & Layers</p-accordion-header>
      <p-accordion-content>
        <app-spring-boot-application-layers-test-comparison></app-spring-boot-application-layers-test-comparison>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
