<div class="accordion-blue">
  <p-accordion [value]="['0']" [multiple]="true">
    <p-accordion-panel value="0">
      <p-accordion-header>App CheckList</p-accordion-header>
      <p-accordion-content>
        <app-app-study-sheet></app-app-study-sheet>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>App Questions</p-accordion-header>
      <p-accordion-content>
        <app-app-study-questions></app-app-study-questions>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
