<div class="accordion-blue">
  <p-accordion [value]="['0']" [multiple]="true">
    <p-accordion-panel value="0">
      <p-accordion-header>Reserba Backend</p-accordion-header>
      <p-accordion-content>
        <app-project-code-reserba-back-end></app-project-code-reserba-back-end>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>Reserba UI old</p-accordion-header>
      <p-accordion-content>
        <app-project-code-reserba-ui-old></app-project-code-reserba-ui-old>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="2">
      <p-accordion-header>Reserba UI new</p-accordion-header>
      <p-accordion-content>
        <app-project-code-reserba-ui-new></app-project-code-reserba-ui-new>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="3">
      <p-accordion-header>Reserba UI Page</p-accordion-header>
      <p-accordion-content>
        <app-project-code-reserba-ui-page></app-project-code-reserba-ui-page>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
